$background-color: rgba(223, 217, 217, 0.877);
$main-color: rgba(141, 0, 62, 1);

.top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $main-color;
    .top-left{
        margin-left: 3%;
    }

    .logo-container{
        .logo{
            margin: 2vh 0px;
            height: 4vh;
            color: white;
        }
    }

    .top-right{
        margin-right: 3%;

        .top-right-text{
            font-size: 1.8vh;
            font-weight: 300;
            color: white;
            cursor: pointer;
        }
    }

    .topbar-icon{
        color: white;
        font-size: 3.5vh;
    }
}
